@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #154caf;
  --secondary: #fabe41;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Pretendard", sans-serif;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  src: url("../app/fonts/Pretendard-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  src: url("../app/fonts/Pretendard-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: url("../app/fonts/Pretendard-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("../app/fonts/Pretendard-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url("../app/fonts/Pretendard-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url("../app/fonts/Pretendard-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url("../app/fonts/Pretendard-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  src: url("../app/fonts/Pretendard-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  src: url("../app/fonts/Pretendard-Black.woff2") format("woff2");
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dot-fade {
  animation: fade-in-out 0.85s linear infinite;
}
